export(chao_bootstrap)
export(diff_stats)
export(diff_test)
export(dist.codom)
export(D_Jost)
export(Gst_Hedrick)
export(Gst_Nei)
export(harmonic_mean)
export(jacknife_populations)
export(pairwise_D)
export(pairwise_Gst_Hedrick)
export(pairwise_Gst_Nei)
export(Phi_st_Meirmans)
export(rgenotypes)
export(summarise_bootstrap)
S3method(print,summarised_bs)
