export(diff_stats)
export(diff_test)
export(D_Jost)
export(Gst_Hedrick)
export(Gst_Nei)
export(harmonic_mean)
export(jacknife_populations)
export(pairwise_D)
export(pairwise_Gst_Hedrick)
export(pairwise_Gst_Nei)
